server {
    listen 80;
    server_name ~^(www\.)?twu54team1\.freewheelers\.bike$;

    location / {
        proxy_set_header X-Real-IP  $remote_addr;
        proxy_set_header Host $host;
        proxy_pass http://10.4.4.250:8080;
    }

    location /.well-known/acme-challenge/ {
        root /var/lib/letsencrypt;
    }
}